{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extra_css %}

{% block login %}
<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image">
        <img src="{% static 'assets/logo_gsconsulting.png' %}" alt="logo">              
      </div>
      <div class="col-md-6 right">
        <div class="input-box">
          <header>
            Help Desk
            {% if error %}
              <div class="form-text text-danger py-3" style="font-size: 10px;">
                {{ error }}
              </div>
            {% endif %}
          </header>
          <form method="post" action="">
            {% csrf_token %}
            <div class="input-field">
              {{ form.username|attr:"type:text"|attr:"id:username"|attr:"class:input"|attr:"autocomplete:off" }}
              <label for="username">Login</label> 
            </div> 
            <div class="input-field">
              {{ form.password|attr:"type:password"|attr:"class:input"}}
              <label for="pass">Palavra-passe</label>
            </div> 
            <div class="input-field">
              <input type="submit" class="submit" value="Entrar">
            </div> 
          </form>
          <div class="signin">
            <span>Ainda não tem uma conta? <a href="{% url 'accounts:register' %}">Registe-se aqui</a></span>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
{% endblock login %}
